body,
blockquote,
dd,
dl,
figure,
form,
p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  line-height: 1.5;
  font-size: 14px;
  color: #595959;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-size: 14px;
}

body,
input,
button,
select,
optgroup,
option,
textarea,
pre {
  font-family: Arial, Roboto, "Droid Sans", "Hiragino Sans GB", "Microsoft YaHei", "Simsun", STXihei, "sans-serif";
}

iframe {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #595959;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

a img {
  border: 0 none;
}

i,
em {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  color: windowtext;
}

button,
input.ie6 {
  overflow: visible;
  padding: .1em .25em;
  cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  overflow: visible;
  padding: .1em .25em;
  cursor: pointer;
}

select {
  border: 1px inset;
}

textarea {
  overflow: auto;
  vertical-align: text-bottom;
  *vertical-align: auto;
  border: 1px solid;
  resize: vertical;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th,
caption {
  padding: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bfbfbf;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bfbfbf;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bfbfbf;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bfbfbf;
}

.clearfix:after {
  content: "";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
  font-size: 0;
}

.clearfix {
  height: 1%;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.pb40 {
  padding-bottom: 40px;
}

.topbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  /* background-color: #4285f4; */
  background-color: #898984;
  z-index: 22;
}

.topbox::before {
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  content: "";
  height: 56px;
  left: -2%;
  position: fixed;
  width: 104%;
}

.sidebox {
  background: #f2f2f2;
  bottom: 0;
  left: 0;
  /* overflow: visible; */
  position: fixed;
  width: 232px;
  top: 56px;
  z-index: 1;
  height: 100%;
  overflow: auto;
  /* -webkit-transform: translateX(-242px); */
  /* transform: translateX(-242px); */
  transform: translateX(0);
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
}

.mainbox {
  margin-left: 232px;
  margin-top: 56px;
  padding: 20px 40px;
}

.menuicon {
  padding: 6px 10px;
  width: 232px;
  z-index: 1;
}

.menuicon .title {
  color: #fff;
  font-size: 1.5em;
  vertical-align: middle;
}

.searchbox {
  width: 66.66%;
  height: 36px;
  margin: auto 0 auto 50px;
  padding: 0 10px;
}

.searchbox .ivu-input {
  height: 35px;
}

.topcont {
  box-sizing: border-box;
  margin: auto 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
}

.topavator {
  z-index: 1;
  display: flex;
  align-items: center
}

.topavator * {
  vertical-align: middle;
}

.full-icon,
.lock-icon,
.chat-icon {
  padding: 0 12px;
  cursor: pointer;
}

.chat-icon {
  padding-right: 24px;
}

.navbox .ivu-menu-light {
  background: #f2f2f2;
}

.navbox .ivu-menu-vertical.ivu-menu-light:after {
  display: none;
}

.navbox .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #212121;
  border-right: none;
  background-color: #e5e5e5;
}

.navbox .ivu-menu-item {
  font-size: 16px;
}

.navbox .ivu-menu-vertical .ivu-menu-item:hover,
.navbox .ivu-menu-vertical .ivu-menu-submenu-title:hover {
  background: #e9e9e9;
}

.navbox:hover::-webkit-scrollbar {
  display: block;
}

.navbox::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.navbox::-webkit-scrollbar-button {
  background-color: #bcbcbc;
  display: none;
}

.navbox::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.navbox::-webkit-scrollbar-thumb {
  background: #bcbcbc;
}

.navbox::-webkit-scrollbar-corner {
  background: #bcbcbc;
}

.navbox::-webkit-scrollbar-resizer {
  background: #bcbcbc;
}

.toolbox {
  bottom: 0;
  padding: 23px 12px 23px 15px;
  position: fixed;
  right: 0;
  z-index: 21;
}

.create-btn:hover .cropcont {
  display: block;
}

.cropcont {
  display: none;
  text-align: center;
  margin-bottom: 16px;
}

.create-btn .cropbtn {
  display: block;
}

.create-btn .cropbtn {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
}

.create-btn .plusbtn {
  width: 56px;
  height: 56px;
  font-size: 18px;
  background-color: #d23f31;
  border-color: #d23f31;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.subtitlebox {
  padding-bottom: 14px;
}

.subtitlebox .title {
  font-size: 18px;
  color: #616161;
}

.direct-upload {}

.chunkbox {}

.shadowbox {
  background-color: #fefefe;
  padding: 6px;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
}

.upload-list {
  padding: 6px;
  font-size: 0;
}

.upload-item {
  display: inline-block;
  width: 120px;
  height: 120px;
  /* border: 1px solid transparent; */
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  line-height: 120px;
  text-align: center;
  overflow: hidden;
}

.upload-item .upload-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.upload-item .upload-progress {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.upload-item-cover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.upload-item:hover .upload-item-cover {
  display: block;
}

.upload-item-cover i {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 2px;
}

.upload-btn {
  width: 118px;
  height: 118px;
  border: 1px solid transparent;
  line-height: 134px;
  box-sizing: border-box;
}

.cropper-img {
  max-width: 100%;
}

.preview-img {
  width: 320px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}

.cropper-preview {
  float: left;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.preview-img-md {
  width: 160px;
  height: 90px;
  overflow: hidden;
}

.preview-img-sm {
  width: 80px;
  height: 45px;
  overflow: hidden;
}

.preview-img-xs {
  width: 40px;
  height: 22.5px;
  overflow: hidden;
}

.cropper-upload-btn {
  padding: 20px 0;
}

.previewinfo {
  padding-top: 20px;
}

.previewinfo ul li {
  border-bottom: 1px solid #dfdfdf;
  padding: 5px;
}

.previewinfo ul li label {
  display: inline-block;
  width: 80px;
  font-weight: 700;
}

.my-images-subtitle {
  position: relative;
}

.my-images-subtitle .changebox {
  position: absolute;
  right: 0;
  top: -5px;
}

.my-images {}

.img-shape {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  margin-bottom: 16px;
}

.grid-mini-item {
  height: 120px;
}

.waterfall-images {
  /* background: rgba(0, 0, 0, 0.6); */
  padding: 20px;
}

.waterfall-images .item {
  width: 33.333%
}

.waterfall-item {
  padding: 20px;
  overflow: hidden;
}

.waterfall-item img {
  width: 100%;
}

.waterfall-item .info {
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  border: 1px solid #dfdfdf;
}

.waterfall-item .info h3 {
  color: rgb(0, 120, 215);
  font-size: 20px;
}

.waterfall-item .info p {
  font-size: 16px;
}

.ablum-item {
  width: 96%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  position: relative;
  border: 1px solid #dfdfdf;
  /* background-color: #878782; */
  margin: 0 2%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  color: #898984;
}

.ablum-item:hover {
  color: #2d8cf0;
  box-shadow: 0 0 4px rgba(45, 140, 240, .14), 0 4px 8px rgba(45, 140, 240, .28);
}

.ablum-item * {
  vertical-align: middle;
}

.draggable {
  width: 500px;
  height: 600px;
  border: 1px solid #dfdfdf;
}

.loginwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginbox {
  width: 450px;
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  margin: 0 auto;
  padding: 40px 40px 36px;
}

.loginbox .brand {
  font-size: 24px;
  padding-bottom: 10px;
}

.loginbox .name {
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}

.loginform {
  padding-top: 40px;
  padding-bottom: 50px;
}

.loginform li {
  margin: 20px 0 50px;
  height: 40px;
}

.loginform .inputbox {
  width: 100%;
  border: 0 none;
  border-bottom: 2px solid rgb(223, 223, 223);
  outline: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
}

.loginform .inputbox {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(233, 233, 233);
  outline: none;
  color: #757575;
  font-size: 15px;
}

.loginform input[type="text"]:focus + label:before,
.loginform input[type="password"]:focus + label:before {
  color: #2d8cf0;
}

.loginform input:focus + label:before,
.loginform input:valid + label:before {
  transition-duration: 0.2s;
  transform: translate(-10px, -34px) scale(0.8, 0.8);
}

.loginform input[type="text"]:invalid + label[alt]:before,
.loginform input[type="password"]:invalid + label[alt]:before {
  content: attr(alt);
}

.loginform input + label {
  display: block;
  pointer-events: none;
  margin-top: -24px;
}

.loginform input + label:before {
  content: attr(alt);
  display: inline-block;
  color: #2d8cf0;
  transition: 0.2s ease-out;
}
.loginform input + label:after {
  content: '';
  display: inline-block;
}
 
.loginform input:focus + label::after{
  content: '';
  display: block;
  border-bottom: 2px solid #2d8cf0;
  animation: inputRemoveUnderline .3s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes inputRemoveUnderline {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.loginform .form-btn{
  float: right;
}
.loginform .forgot{
  float: left;
  color: #2d8cf0;
  cursor: pointer;
}

/* 404 */
.errorbox {
  color: #222;
  text-align: unset;
  margin: 7% auto 0;
  max-width: 768px;
  min-height: 180px;
  padding: 30px 0 15px;
}

.errorbox .imgbox {
  position: relative;
  width: 375px;
  height: 361px;
}

.errorbox .info {
  padding: 20px;
}

.errorbox .brand {
  font-size: 36px;
}

.errorbox p {
  margin: 11px 0 22px;
}

.errorbox p span {
  color: #777;
}
.fileinput{
  display: none;
}
.fileupload{
  width: 50px;
  height: auto;
  display: inline-block;
}